*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.settings/
.classpath
.project
.metadata
*.scala~
.gitignore~
.idea
.DS_Store
.cache
*.iml
out/
.idea
.idea/
streams/.idea
stream/.idea

